.contianer{
  padding: 10px 30px;
  .top-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image-swiper {
    .image {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 200px * 2;
      background: #fff;
      pointer-events: none;
    }
  }
  
}

