.taroify-calendar__header-title{
    width: 0;
    height: 0;
}
.lists{
    border-top: 1px solid #e4e2e2;
    padding: 0 35px;
    font-size: 30px;
    .list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f4f5f7;
        height: 70px;
        .title{
            margin-left: 15px;
        }
        .community{
            color: #ccc;
        }
    }
    .list:last-child{
        border: none;
    }
}
